
.article-header {
  padding-top: 3rem;
  margin-bottom: 3rem;
}
.article-footer {
  padding: 6rem 0;
}
.article-date {
  color: var(--color-text-grey);
}
.article-tags {
  display: flex;
  margin-bottom: 1rem;
}
.article-tags li {
  margin-right: .5rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main,
.sidebar {
  padding: 5px;
}

.main {
  width: 75%;

}

.sidebar {
  width: 20%;
  height: 25vh;
  position: sticky;
  top: 3rem;
}

#toc .title {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

/** mobile **/
@media only screen and (max-width: 600px) {
  .main {
    width: 96%;
    padding: 2%;
  }

  .sidebar {
    display: none;
  }

  .article-tags {
    display: block;
    width: 100%;
  }

  .article-tags li {
    display: inline-block;
    margin: 5px;
  }

}

